body{
	margin:0px;
	padding: 0px;
	font-family: poppins;
	background-color: black
}
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(peaky.jpg) ;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar .logo{
	width: 80px;
	height: auto;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: red;
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: rgb(247, 245, 245);
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center h3{
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center .buttons{
	margin: 35px 280px;
}
.buttons button{
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #FFB3B3;
	background: red;
	outline: none;
	cursor: pointer;
	border: 1px solid #CC0000;
	border-radius: 25px;
	transition: .4s;
}
.buttons .btn2{
	margin-left: 25px;
}
.buttons button:hover{
	background: #CC0000;
}

.items{
position: relative;
display: inline-block;
padding: 8px 25px;
margin: 10px 0;
color: black;
text-decoration:none ;
text-transform: uppercase;
font-size: 18px;
letter-spacing: 2px;
border-radius: 40px;
background: linear-gradient(90deg,white,rgb(177, 171, 171));
border: white;
}
.search{
    width: 250px;
    height: 40px;
    background-color:rgba(245,245,245,0.8) ;
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 20px;
}
.search input{
    width: 100%;
    height: 30%;
    border: none;
    outline: none;
    background-color: transparent;
}
.section{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.section h1{
	text-align: center;
	font-size: 3rem;
	font-family: sans-serif;
	padding: 20px;
	margin: 15px;
	z-index: 1;
	opacity: 0.4;
}
.video-container{
	position :absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.color-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0.5;
}
#signin{
	margin : 0;
	padding: 0;
	background: url(la-casa.jpg);
	background-size: cover;
	font-family:sans-serif ;

}
.login-box{
	width: 320px;
	height: 420px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar{
	width: 100px;
	height: 100px;
	position: absolute;
	top: -12.5%;
    left: 35%;
}
.hh{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.login-box{
	font-weight: bold;
}
.login-box input{
	width: 100%;
	margin-bottom: 8.5px;
}
.login-box input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.login-box a{
	position: relative;
display: inline-block;
padding: 8px 25px;
margin-left: 28%;
color: #fff;
text-decoration:none ;
text-transform: uppercase;
font-size: 18px;
letter-spacing: 2px;
border-radius: 40px;
background: linear-gradient(90deg,transparent,rgb(17, 14, 14));
border: white;
}
.log{
	z-index: 2;
	position: relative;
	display: inline-block;
	padding: 8px 25px;
	color: white;
	text-decoration:none ;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,rgb(243, 4, 4),rgb(253, 93, 93));
	border: white;
	margin-top: 12px;
}
.btn{
	z-index: 2;
}
#signup{
	margin : 0;
	padding: 0;
	background: url(lucifer.jpg);
	background-size: cover;
	font-family:sans-serif ;
}
#btnsin{
	position: relative;
	display: inline-block;
	padding: 8px 25px;
	margin-left: 28%;
	color: #fff;
	text-decoration:none ;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,transparent,rgb(17, 14, 14));
	border: white;
}
#btnsup{
	position: relative;
	display: inline-block;
	padding: 8px 25px;
	margin-left: 28%;
	color: #fff;
	text-decoration:none ;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,transparent,rgb(17, 14, 14));
	border: white;
}
.login-boxe{
	width: 600px;
	height: 320px;
	background: rgba(0,0,0,0.5);
	color: rgb(153, 33, 33);
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	font-family: fantasy;
	font-size: 23px;
}
.title{
	margin: 0;
	padding: 0 0 0 ;
	font-size: 29px;
	text-align: center;
}
#lucifer-background{
	margin : 0;
	padding: 0;
	background: url(indlucifer.jpg);
	background-size: cover;
	font-family:sans-serif ;
}
#lord-background{
	margin : 0;
	padding: 0;
	background: url(lord.png);
	background-size: cover;
	font-family:sans-serif ;
}
#once-background{
	margin : 0;
	padding: 0;
	background: url(once.jpg);
	background-size: cover;
	font-family:sans-serif ;
}
#wolf-background{
	margin : 0;
	padding: 0;
	background: url(jack.jpg);
	background-size: cover;
	font-family:sans-serif ;
}
#pulp-background{
	margin : 0;
	padding: 0;
	background: url(pf.jpg);
	background-size: cover;
	font-family:sans-serif ;
}
#dogs-background{
	margin : 0;
	padding: 0;
	background: url(dogs.jpg);
	background-size: cover;
	font-family:sans-serif ;	
}
#wars-background{
	margin : 0;
	padding: 0;
	background: url(wars.jpg);
	background-size: cover;
	font-family:sans-serif ;	
}
#scar-background{
	margin : 0;
	padding: 0;
	background: url(scarfacejpg.jpg);
	background-size: cover;
	font-family:sans-serif ;	
}
#casa-background{
	margin : 0;
	padding: 0;
	background: url(casa+.jpg);
	background-size: cover;
	font-family:sans-serif ;	
}
#elite-background{
	margin : 0;
	padding: 0;
	background: url(elite+.jpg);
	background-size: cover;
	font-family:sans-serif ;	
}
#river-background{
	margin : 0;
	padding: 0;
	background: url(river.png);
	background-size: cover;
	font-family:sans-serif ;	
}
#peaky-background{
	margin : 0;
	padding: 0;
	background: url(peaky.jpg);
	background-size: cover;
	font-family:sans-serif ;	
}
	.wrapper{
		background: url(pulpf.jpg) no-repeat;
		background-size: cover;
		height: 100vh;
	}
	.navbar{
		position: fixed;
		height: 80px;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
	}
	.navbar .logo{
		width: 80px;
		height: auto;
		padding: 20px 100px;
	}
	.navbar ul{
		float: right;
		margin-right: 20px;
	}
	.navbar ul li{
		list-style: none;
		margin: 0 8px;
		display: inline-block;
		line-height: 80px;
	}
	.navbar ul li a{
		font-size: 20px;
		font-family: 'Roboto', sans-serif;
		color: white;
		padding: 6px 13px;
		text-decoration: none;
		transition: .4s;
	}
	.navbar ul li a.active,
	.navbar ul li a:hover{
		background: red;
		border-radius: 2px;
	}
	.wrapper .center{
		position: absolute;
		left: 50%;
		top: 55%;
		transform: translate(-50%, -50%);
		font-family: sans-serif;
		user-select: none;
	}
	.center h1{
		color: black;
		font-size: 70px;
		width: 900px;
		font-weight: bold;
		text-align: center;
	}
	.center .buttons{
		margin: 35px 280px;
	}
	.buttons button{
		height: 50px;
		width: 150px;
		font-size: 18px;
		font-weight: 600;
		color: #FFB3B3;
		background: red;
		outline: none;
		cursor: pointer;
		border: 1px solid #CC0000;
		border-radius: 25px;
		transition: .4s;
	}
	.buttons .btn2{
		margin-left: 25px;
	}
	.buttons button:hover{
		background: #CC0000;
	}
	.image{
		position: absolute;
		top: 70vh;
	}
	.series{
		position: absolute;
		top: 90vh;
	}
	@media screen and (max-width: 500px) {
		.movie-boc {
		  width: 100%;
		}
	  }
	.movies{
		border-top: 1px solid rgba(53,53,53,0.1);
		display: flex;
		clear:both ;
		content: "";
		position: absolute;
        top: 90%;
	}
	.movie-heading{
		margin: 30px 30px 0px 30px; 
		font-weight: 500;
		font-size: 1.3rem;
	}
	.movie-box{
		float: left;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
		margin: 20px 10px;
		border-radius: 10px;
		overflow: hidden;
		width: 200px;
		background-color: #ffffff;
		padding: 5px;
	}
	.movie-b-img{
		width: 100%;
		height: 270px;
	}
	.movie-b-img img{
		width: 100%;
		height: 100%;
		object-fit: cover;  
	}
	.movie-b-text strong{
		color: #3a3a3a;
		margin: 0px;
	}
	.movie-b-text{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 10px;
	}
	.movie-b-text p{
		color: #979797;
		margin : 0px;
	}
	.cs-hidden{
		display: table;
	}
	.column{
		display: table;
	}
	.butt{
		z-index: 2;
	position: relative;
	display: inline-block;
	padding: 8px 25px;
	color: rgb(100, 74, 74);
	text-decoration:none ;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,rgb(243, 4, 4),rgb(253, 93, 93));
	border: white;
	margin-top: 12px;	
	}
	#doctor-background{
		margin : 0;
		padding: 0;
		background: url(good.jpg);
		background-size: cover;
		font-family:sans-serif ;
	}
.boutp{
	z-index: 2;
	position: relative;
	display: inline-block;
	padding: 8px 25px;
	margin-left: 28%;
	margin-top: 40%;
	color: #fff;
	text-decoration:none ;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,rgb(148, 49, 49),rgb(253, 93, 93))
}
.boutn{
	z-index: 2;
	position: relative;
	display: inline-block;
	padding: 8px 25px;
	margin-left: 28%;
	margin-top: 40%;
	color: #fff;
	text-decoration:none ;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,rgb(148, 49, 49),rgb(253, 93, 93))
}